{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .login_form {
            border: 1px solid #bbbbbb;
            padding: 25px;
        }

        .login_form h2 {
            padding: 0px;
            margin: 0px 0 15px 0px;
        }

        .user_list {
            padding: 20px;
            border: 1px solid #bbbbbb;
            margin: 20px 0 0 0px;
        }

        table {
            width: 100%;
            text-align: center;
        }

        table td {
            border-top: 1px solid #aaaaaa;
            padding: 0px 20px;
        }

        .edit_form {
            padding: 20px;
            border: 1px solid #bbbbbb;
            margin: 20px 0 0 0px;
            width: 180px;
        }

        .edit_form input {
            width: 100%;
            margin: 5px 0px;
        }
        .edit_form button {
            width: 100%;
            margin: 5px 0px;
        }
    </style>

    <div class="login_form">
        <h2>Login Form</h2>
        <form id="login_form">
            Login form: 
            <input name="login" placeholder="Login">
            <input name="password" placeholder="Password">
            <button type="submit">Submit</button>
            <br>
            <i>Test: root/root, user/user</i>
        </form>
        <div id="successBlock" style="display:none;"><div id="successBlockInfo"></div> <button id="logout">Logout</button></div>
    </div>

    <div class="user_list">
        <h2 style="float: left;">User List</h2>
        <button style="float: right; padding: 7px 50px;" id="get_users">Get users</button>
        <div style="float: clear;"></div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Login</th>
                    <th>Phone</th>
                    <th>Password</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table_users">
                <tr>
                    <td colspan="5" style="padding: 30px;">No Data</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="edit_form">
        <h2>Edit form</h2>
        <form id="edit_form">
            <input name="id" type="text" readonly="readonly" placeholder="Id">
            <input name="login" type="text" placeholder="Login">
            <input name="phone" type="text" placeholder="Phone">
            <input name="password" type="text" placeholder="Password">
            <button type="submit">Submit ( PUT / POST )</button>
            <button id="clear_form">Clear</button>
        </form>
    </div>

{% endblock %}