{% extends 'base.html.twig' %}

{% block body %}

    <div class="login_form">
        <h2>Login Form</h2>
        <form id="login_form">
            Login form: 
            <input name="login" placeholder="Login">
            <input name="password" placeholder="Password">
            <button type="submit">Submit</button>
            <br>
            <i>Test: root/root, user/user</i>
        </form>
        <div id="successBlock" style="display:none;"><div id="successBlockInfo"></div> <button id="logout">Logout</button></div>
    </div>

    <div class="user_list">
        <h2 style="float: left;">User List</h2>
        <button style="float: right; padding: 7px 50px;" id="get_users">Get users</button>
        <div style="float: clear;"></div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Login</th>
                    <th>Phone</th>
                    <th>Password</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table_users">
                <tr>
                    <td colspan="5" style="padding: 30px;">No Data</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="edit_form">
        <h2>Edit form</h2>
        <form id="edit_form">
            <input name="id" type="text" readonly="readonly" placeholder="Id">
            <input name="login" type="text" placeholder="Login">
            <input name="phone" type="text" placeholder="Phone">
            <input name="password" type="text" placeholder="Password">
            <button type="submit">Submit ( PUT / POST )</button>
            <button id="clear_form">Clear</button>
        </form>
    </div>

    <div>Task: <a target="_blank" href="https://horoshop.notion.site/API-users-symfony-c57198f3b960411ebee76268f57bf7e6">https://horoshop.notion.site/API-users-symfony-c57198f3b960411ebee76268f57bf7e6</a></div>
    <div>GIT: <a target="_blank" href="https://github.com/GnomeVault/test_task">https://github.com/GnomeVault/test_task</a></div>
    <div>DB: <a target="_blank" href="https://github.com/GnomeVault/test_task/blob/main/testdb.sql">https://github.com/GnomeVault/test_task/blob/main/testdb.sql</a></div>
    <div>Docker: <a target="_blank" href="https://github.com/GnomeVault/test_task/blob/main/docker.zip">https://github.com/GnomeVault/test_task/blob/main/docker.zip</a></div>
{% endblock %}